#api {
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

#api .options {
	display        : flex;
	flex-direction : row;
	justify-content: center;
	margin-bottom  : 60px;
}

#api .options div {
	padding: 0.5rem;
}

#api .options button.accountButton {
	position        : relative;
	border          : none;
	font-size       : 0.8rem;
	font-weight     : 700;
	padding         : 0.5rem;
	border-radius   : 0.5rem;
	background-color: rgba(58, 59, 129, 0.1);
	color           : #3a3b81;
}


#api .options button.accountButton:focus,
#api .options button.accountButton:active {
	outline: none !important;
}

.intro h2 {
	overflow         : visible;
	font-weight      : 400;
	font-style       : normal;
	font-family      : "Staatliches", serif;
	color            : #3a3b81;
	font-size        : 45px;
	letter-spacing   : 0px;
	line-height      : 1.25;
	text-transform   : capitalize !important;
	text-align       : center;
	/* margin-bottom : 16px; */
}

.divider {
	position: relative;
}


#api {
	padding-left : 0.5rem;
	padding-right: 0.5rem;
}

#api .localAccount {
	width: 100%;
}

#api .social {
	width: 100%;
}

.divider {
	display       : flex;
	align-items   : center;
	text-align    : center;
	width         : 50%;
	margin-top    : 1rem;
	margin-bottom : 0 !important;
	font-weight   : 400;
	font-style    : normal;
	font-family   : "Urbanist", serif;
	color         : #919191;
	letter-spacing: 0px;
	line-height   : 1.2;
	text-align    : center;
	align-self    : center;

}

.divider::before,
.divider::after {
	content      : '';
	flex         : 1;
	border-bottom: 1px solid #919191a1;
}

.divider:not(:empty)::before {
	margin-right: .25em;
}

.divider:not(:empty)::after {
	margin-left: .25em;
}

.divider h2 {
	font-size: 12px;
}

.entry .entry-item {
	position: relative;
}

.entry .entry-item label {
	display       : inline-block !important;
	word-wrap     : break-word;
	word-break    : break-word;
	overflow      : hidden;
	font-weight   : 400;
	font-style    : normal;
	font-family   : "Urbanist", serif;
	color         : #919191;
	font-size     : 12px;
	letter-spacing: 0px;
	line-height   : 1.2;
	text-align    : left;
	margin-bottom : 4px;
}

.entry .entry-item input {
	width           : 100%;
	color           : rgb(61, 61, 61);
	margin-top      : 0 !important;
	margin-bottom   : 1rem;
	box-sizing      : border-box;
	height          : auto;
	display         : flex;
	flex-direction  : row;
	justify-content : flex-start;
	align-items     : flex-start;
	background-color: #ffffff;
	overflow        : visible;
	border-radius   : 4px;
	border          : 1px solid rgba(61, 61, 61, 0.1);
	font-family     : "Urbanist", serif;
	font-size       : 14px;
	padding-left    : 40px;
	padding-right   : 40px;
	padding-top     : 10px;
	padding-bottom  : 10px;
}

.entry .entry-item input:focus {
	outline: 0px;
}

.entry .buttons button[type=submit] {
	width           : 100%;
	box-sizing      : border-box;
	display         : flex;
	flex-direction  : row;
	justify-content : center;
	align-items     : center;
	padding         : 16px;
	background-color: #3a3b81;
	overflow        : visible;
	border-radius   : 4px;
	font-weight     : 500;
	font-style      : normal;
	font-family     : "Urbanist", serif;
	color           : #ffffff;
	font-size       : 14px;
	letter-spacing  : 0px;
	line-height     : 1.2;
	text-align      : center;
	margin-bottom   : 16px;
	border          : none
}

.entry .buttons button[type=submit]:focus {
	outline: none;
}

.create {
	overflow      : visible;
	font-weight   : 400;
	font-style    : normal;
	font-family   : "Urbanist", serif;
	color         : #919191;
	font-size     : 12px;
	letter-spacing: 0px;
	line-height   : 1.2;
	text-align    : center;
}

.create #createAccount {
	margin-left          : 5px;
	margin-right         : 5px;
	color                : #3a3b81;
	text-decoration      : underline;
	text-decoration-color: #3a3b81;
	font-size            : 12px;
}

#forgotPassword {
	margin-left          : 5px;
	margin-right         : 5px;
	color                : #3a3b81;
	text-decoration      : underline;
	text-decoration-color: #3a3b81;
	font-family          : "Urbanist", serif;
	font-size            : 12px;
	margin-bottom        : 4px;
}

.password-label {
	display    : flex;
	align-items: center;
}

.error {
	color      : red;
	font-size  : 12px;
	font-family: "Urbanist", serif;
}

.error p {
	margin-bottom: 0;
}


form {
	display       : flex;
	flex-direction: column;
}

.logo-subtitle {
	width         : auto;
	height        : auto;
	flex-shrink   : 0;
	overflow      : visible;
	white-space   : pre;
	font-weight   : 400;
	font-style    : normal;
	font-family   : "Urbanist", serif;
	color         : #404040;
	font-size     : 14px;
	letter-spacing: 0px;
	line-height   : 1.2;
	text-align    : center;
	margin-bottom : 24px;
}

@media (max-width: 575.98px) {
	/* .intro h2 {
		font-size: 25px;
	} */

	.side-1 .jl-form {
		padding-left : 5px;
		padding-right: 5px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}